@charset "UTF-8";
/**
 * 
 * $RESET -- As per: csswizardry.com/2011/10/reset-restarted
 *
 */
/**
 * Tame the box model
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Basics for elements
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

/**
 * So that `alt` text is visually offset if images don’t load.
 */
img {
  font-style: italic;
}

/**
 * 
 * BEGIN BASE STYLES
 *
 */
/*------------------------------------*\
    $SHARED
\*------------------------------------*/
.tagline,
.button,
.footer {
  text-align: center;
}

.action-box,
.footer > div {
  width: 33.33%;
}

/*------------------------------------*\
    $ELEMENTS
\*------------------------------------*/
html {
  font-family: "Alegreya", Georgia, serif;
  color: #3b3b39;
  font-size: 22px;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  font-weight: normal;
}

p {
  margin-bottom: 24px;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
.theatre {
  position: absolute;
  top: 0;
  left: 0;
  height: 570px;
  width: 100%;
  background: #1f1f1e;
  z-index: -1;
}

.wrapper {
  width: 980px;
  margin: 0 auto;
}

.action-box {
  float: left;
  padding: 0 24px 24px;
  border-right: 1px solid #c6c5c3;
}

.action-box:first-of-type {
  border-left: 1px solid #c6c5c3;
}

.button {
  display: block;
  margin-top: 24px;
  padding: 12px;
  background: #3b3b39;
  color: #FFF;
  font-weight: 400;
}
.button:hover {
  opacity: .75;
}

.button--brite {
  background: #ef4c27;
}

.footer {
  display: inline-block;
  clear: both;
  margin-top: 48px;
  border-top: 1px solid #c6c5c3;
  border-bottom: 1px solid #c6c5c3;
}
.footer > div {
  display: table-cell;
  vertical-align: middle;
  padding: 24px;
}
.footer > div > p {
  margin: 0;
}

/*------------------------------------*\
    $HELPER
\*------------------------------------*/
.font--sans {
  font-family: Helvetica, Arial, sans-serif;
}

.font--brite {
  color: #ef4c27;
}

.tagline {
  margin: 48px 0;
}

.cf:after, .media:after {
  content: "";
  display: table;
  clear: both;
}

.accessibility {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/*------------------------------------*\
    $MEDIA-OBJECT
\*------------------------------------*/
.media {
  display: block;
}

.media__img {
  float: left;
  margin-right: 12px;
}

/**
 * Reversed image location (right instead of left).
 */
.media__img--rev {
  float: right;
  margin-left: 12px;
}

.media__img img,
.media__img--rev img {
  display: block;
}

.media__body {
  overflow: hidden;
}

.media__body,
.media__body > :last-child {
  margin-bottom: 0;
}
