/**
 * 
 * $RESET -- As per: csswizardry.com/2011/10/reset-restarted
 *
 */

/* Tame the box model */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* Basics for elements */
h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
hr{
    margin:0;
    padding:0;
}


/* So that `alt` text is visually offset if images don’t load. */
img{
    font-style:italic;
}
