//    $UNITS
$base-spacing-unit:24px;





//    $WIDTHS
$wrap:980px;





//    $FONTS
$primary:"Alegreya", Georgia, serif;
$secondary:Helvetica, Arial, sans-serif;





//    $COLORS
$way-dark:#1F1F1E;
$graphite:#3B3B39;
$metal:#C6C5C3;
$sunset:#EF4C27;
$fbook:#3B5998;
$twitter:#56A3D9;
$vimeo:#5DA9D5;